@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Playfair+Display:wght@500;700&family=Raleway:wght@200;500;700&display=swap');

:root {
    --left-bg-color: rgba(87, 84, 0, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-hover-color: rgba(214, 213, 196, 0.5);
    --right-hover-color: rgba(214, 213, 196, 0.5);
    --hover-width: 55%;
    --other-width: 45%;
    --bg-color: black;
    --title-font-color: white;
}

h2, h3, h4, h5, h6{
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: "Lora", serif;*/
    font-weight: 700;
}

@keyframes slideUp {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Raleway';
    margin: 0;
    color: white;
    background-color: var(--bg-color);
}

a{
    color: white;
}

a:hover{
    color: lightgray;
}

.nav-link{
    font-weight: bold;
}

.navbar-title{
    display: inline;
    padding-left: 10px;
    font-family: "Lora", serif;
    font-size: 2vw;
}
.animated-div {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.xx{
    background: linear-gradient(to bottom, black, #00000095);
}

.img-card{
    width: 100%;
    border-radius: 5%;
    margin-bottom: 25px;
}
@media screen and (max-width: 1000px){
    .navbar-title{
        display: none;
    }
    .xx{
        background: black;
    }
}

.container-home {
    width: 100%;
    align-self: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

h1 {
    color: #fff;
    white-space: pre-line;
    text-align: center;
    font-weight: bolder;
    transition: transform 1s ease;
}

.title {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    color: var(--title-font-color);
}

.home-bg{
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    transition: opacity 1s ease;
    padding-left: 10vw;
    padding-right: 10vw;
}

.slide_up{
    bottom: 0;
    opacity: 0;
    animation: slideUp 1.5s ease, fadeIn 1.5s ease;
    animation-fill-mode: forwards;
}

.canyon {
    background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0.1)), url('assets/canyoning-tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    transition: opacity 1s ease;
}

.canyon:hover {
    opacity: 0.7;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.hike {
    background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0.1)), url('assets/hike-tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    transition: opacity 1s ease;
}


.hike:hover {
    opacity: 0.7;
}

@supports (-webkit-touch-callout : none) {
    .home-bg{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/home-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .hike-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/hike-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .hike-bg-image-2 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/hike-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .bolder-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/bolder-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .bolder2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/bolder-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .canyon-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/canyon-bg-test.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .climbing-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/climb_bg.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .multi-pitch-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/mp-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .canyon-bg-image-2 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/canyon-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .canyon-bg-image-3 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/canyon-bg-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .nevidio-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/nevidio-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .medjurijec-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/medjurijec.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .medurijec-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/medurijec.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .drenovstica-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/drenovstica-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .skurda2-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/skurda-5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    footer {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.8)), url('assets/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        padding: 15px;
    }

    .skurda-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/skurda-6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .drenovstica2-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/drenovstica-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .sport-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/sport-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .sport2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/sport-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .rafting-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/rafting-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .tara-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/tara-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .tara2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/tara2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .scepan-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/scepan-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .scepan2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/scepan2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .durmitor-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/durmitor-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .durmitor2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/durmitor-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .mrtvica-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/mrtvica-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .mrtvica2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/mrtvica2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .ski-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/ski-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .ski2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/ski2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .drone-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/dron-bg.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
}

@supports not (-webkit-touch-callout : none) {

    .drone-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/dron-bg.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .ski-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/ski-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .ski2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/ski2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .mrtvica-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/mrtvica-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .mrtvica2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/mrtvica2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .durmitor-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/durmitor-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .durmitor2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/durmitor-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .scepan-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/scepan-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .scepan2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/scepan2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .tara-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/tara-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .tara2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/tara2-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .climbing-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/climb_bg.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .multi-pitch-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/mp-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .sport-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/sport-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }


    .sport2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/sport-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .rafting-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/rafting-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .bolder-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/bolder-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .bolder2-bg-image{
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url('assets/bolder-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
    .hike-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/hike-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .hike-bg-image-2 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/hike-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .canyon-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/canyon-bg-test.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .canyon-bg-image-2 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/canyon-bg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .canyon-bg-image-3 {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url('assets/canyon-bg-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .nevidio-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/nevidio-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .medjurijec-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1)), url('assets/medjurijec.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .medurijec-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/medurijec.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .drenovstica-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/drenovstica-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .skurda2-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/skurda-5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    footer {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.9)), url('assets/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 15px;
    }

    .skurda-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/skurda-6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }

    .drenovstica2-bg-image {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)), url('assets/drenovstica-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        transition: opacity 1s ease;
    }
}



.hike-bg-image .hike-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.hike-bg-title {
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.hike-bg-subtitle {
    opacity: 1;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}


.hike-bg-image-2 .hike-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.hike-bg-subtitle-2 {
    opacity: 1;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.btn-hike {
    transition: transform 1s ease;
    border: ridge;
}

.canyon-bg-image{
    text-align: center;
}


.title {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    background: none;
}

.subtitle {
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    background: none;
}


.canyon-bg-image-2 .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}


.canyon-bg-subtitle-2 {
    opacity: 1;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.canyon-bg-image-3 .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.canyon-bg-subtitle-3 {
    opacity: 1;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.canyon-bg-title-3 {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.back-img {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 1rem;
    object-fit: cover;
    border: black solid;
    outline: white solid 1px;
}

.lang-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: black solid;
    outline: white solid 1px;
}

.lang-img:hover {
    opacity: 0.7
}


.lang-img-right:hover {
    opacity: 0.7
}

.back-img:hover {
    opacity: 0.7
}

.ig-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: black solid;
    outline: white solid 0.5px;
}

.ig-icon:hover {
    opacity: 0.7
}


.nevidio-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.medjurijec-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}


.medurijec-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.drenovstica-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.drenovstica2-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.skurda-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.skurda2-bg-image .canyon-content {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-info {
    padding: 5rem;
}

.logo-overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 30%;
    z-index: 1;
}